<!-- client count section -->
<section class="bg-dark-secondary center">
    
    <div class="row text-center " data-aos="fade-right" data-aos-offset="30" data-aos-easing="ease-in-sine">
        <div class="col-sm-4">
            <div class="p-2 text-center" style="height: 13rem;">
                <div style="min-height: 11rem;position: relative; " class="center m-0">
                    <h1 @myInsert style="font-size:10rem;" class="render">{{clients}}</h1>
                    <h4 style="position: absolute;top:0;right: 20%;font-weight: 900;"
                        class="render fs-small">%</h4>
                </div>
                <div class="text-center px-5">
                    <h4>Client</h4>
                    <small>Professional and Multipurpose administrate from quality
                        schemas.</small>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="p-2 text-center" style="height: 13rem;">
                <div style="min-height: 11rem;position: relative; " class="center m-0">
                    <h1 @myInsert style="font-size:10rem;" class="render">{{projects}}</h1>
                    <h4 style="position: absolute;top:0;right: 20%;font-weight: 900;"
                        class="render fs-small">+</h4>
                </div>
                <div class="text-center px-5">
                    <h4>New Projects</h4>
                    <small>Projectswe get from different client source on daily
                        basis.</small>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="p-2 text-center" style="height: 13rem;">
                <div style="min-height: 11rem;position: relative; " class="center m-0">
                    <h1 style="font-size:10rem;" class="render">{{followers}}</h1>
                    <h4 style="position: absolute;top:0;right: 20%;font-weight: 900;"
                        class="render fs-small">k</h4>
                </div>
                <div class="text-center px-5">
                    <h4>Social Followers</h4>
                    <small>Client and many other learners which are quite
                        impressed by our work
                        and follow us</small>

                </div>
            </div>
        </div>
    </div>
</section>
