<section class="dark-theme ">
    <header>
        <app-nav></app-nav>
    </header>
    <div class="row m-0 ">
        <div class="col-md-12 center " style="min-width: 30vh;">
            <div class="text-left px-4 ">
                <h1 class="strong" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos="fade-right">Make
                    Your Dreams Into Reality</h1>
                <h6 class="text-mylight" data-aos-easing="ease-out-cubic" data-aos-duration="2000"
                    data-aos="fade-right">Get Professionally Developed and Designed Application, Website, Logo And Much
                    More From
                    The Leading
                    Development and Design F27.</h6>
                <div data-aos="zoom-in-up" data-aos-delay="500" data-aos-duration="500" data-aos-offset="0">
                    <button mat-raised-button class="bg-mygradient-3">
                        <small class="strong text-white">Our services</small>
                        <span class="material-icons ">trending_flat</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12 center">
            <!-- <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500" data-aos-duration="1000"
                data-aos-offset="0">
                <img src="../assets/3dshapes/Tube_Short_Y3_-_Medium0004.png" height="600">
            </div> -->
            <app-robo></app-robo>
        </div>
    </div>
</section>

<!-- about us section -->
<section class="center ">
    <div class="bg-img"></div>
    <div class="case-overlay"></div>
    <div class="row">
        <div class="col-sm-4" style="overflow: hidden;">
            <!-- <img  src="../assets/3dshapes/Tube_Short_Y3_-_Medium0004.png" height="200"> -->
        </div>
        <div class="col-sm-8 p-5">
            <div class="text-left" data-aos="zoom-in-down" data-aos-duration="2000">
                <h1 class="strong">F27</h1>
                <h4 class="text-myheader">Recognising the need of primary condition for your business <span
                        style="color: rgb(61, 221, 133);"></span></h4>
            </div>
            <div class="text-left" data-aos="zoom-in-up" data-aos-duration="2000">
                <p class="text-myheader " style="color: rgb(59, 59, 59); font-size: large;">
                    F27 is a team of passionate strategists and web developers.
                    We leverage advance
                    digital marketing skills with
                    the power of programming.
                    data-driven strategies we achieve positive ROI for your business.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- how can we help section  -->
<section class="bgdark-secondary center">
    <div class="text-center">
        <h4 class="strong">How can we help</h4>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="my-5">
                <h6 class="strong">Automation</h6>
                <p>Inefficient systems or redundant tasks? Let us help you re-evaluate your operational workflows and
                    automate</p>
            </div>
            <div class="my-5">
                <h6 class="strong">Automation</h6>
                <p>Considering building out your in-house software capabilities? Test the waters with a pilot project
                    before making the investment.</p>
            </div>
        </div>
    </div>
</section>
<!-- why choose us section  -->
<section class="bg-dark-secondary center">
    <div class="row align-items-center">
        <div class="col-md-6 center p-5" data-aos="fade-right" data-aos-duration="500">
            <div class="text-left w-100">
                <h1 style="color: rgb(255, 255, 255);">Why<span class="px-2"
                        style="color: rgb(61, 221, 133);">F27</span> </h1>
                <h4 class="text-myheader">Recognising the need of primary condition for your business <span
                        style="color: rgb(61, 221, 133);">with...</span></h4>
            </div>
        </div>
        <div class="col-md-6 center mb-4">
            <div class="d-flex flex-column justify-content-around">
                <div class="d-flex justify-content-around mb-4">
                    <ng-container *ngFor="let box of SERVICES.slice(0,2)">
                        <app-button-box [props]="box"></app-button-box>
                    </ng-container>
                </div>
                <div class="d-flex justify-content-around mb-4">
                    <ng-container *ngFor="let box of SERVICES.slice(2,4)">
                        <app-button-box [props]="box"></app-button-box>
                    </ng-container>
                </div>
                
            </div>
        </div>
    </div>
</section>
<section class="services">
    <div class="center text-center " data-aos="zoom-in" data-aos-duration="1000">
        <div class="py-5">
            <h1 style="color: rgb(255, 255, 255);">OUR <span style="color: rgb(61, 221, 133);">SERVICES</span> </h1>
        </div>
    </div>
    <div class="row m-4 " data-aos="zoom-in-down" data-aos-duration="3000">
        <div class="col-sm-4">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100">
                <mat-card-header>
                    <mat-card-title>Quality Reviewers</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Connects your writing to the best set of eyes so you can produce exemplary writing.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100">
                <mat-card-header>
                    <mat-card-title>Modern Editing</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Advanced essay drafting interface is equipped with many features to give you the freedom to
                        format your essay the best
                        way possible.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100">
                <mat-card-header>
                    <mat-card-title>Personalized</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Our matching algorithm prioritizes your input to find the reviewers that will help you the most.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mx-4 py-5" data-aos="zoom-out-up" data-aos-duration="3000">
        <div class="col-sm-4 ">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100">
                <mat-card-header>
                    <mat-card-title>Streamlined Interface</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Our simple interface provides easy essay retrieval and a smooth editing process.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100">
                <mat-card-header>
                    <mat-card-title>In-Depth Analysis</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        It provides the tools for reviewers to thoroughly analyze and revise your essay so that you can
                        perfect your
                        writing.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100" data-aos="fade-left">
                <mat-card-header>
                    <mat-card-title>Accessible </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        We know that you're tied up with fees and costs elsewhere. Critiq will always offer its
                        peer-review service for free.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>
<!-- our services section  -->

<section class="services">
    <div class="center text-center " data-aos="zoom-in" data-aos-duration="1000">
        <div class="py-5">
            <h1 style="color: rgb(255, 255, 255);">OUR <span style="color: rgb(61, 221, 133);">SERVICES</span> </h1>
        </div>
    </div>
    <div class="row m-4 " data-aos="zoom-in-down" data-aos-duration="3000">
        <div class="col-sm-4">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100">
                <mat-card-header>
                    <mat-card-title>Quality Reviewers</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Connects your writing to the best set of eyes so you can produce exemplary writing.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100">
                <mat-card-header>
                    <mat-card-title>Modern Editing</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Advanced essay drafting interface is equipped with many features to give you the freedom to
                        format your essay the best
                        way possible.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100">
                <mat-card-header>
                    <mat-card-title>Personalized</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Our matching algorithm prioritizes your input to find the reviewers that will help you the most.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mx-4 py-5" data-aos="zoom-out-up" data-aos-duration="3000">
        <div class="col-sm-4 ">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100">
                <mat-card-header>
                    <mat-card-title>Streamlined Interface</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Our simple interface provides easy essay retrieval and a smooth editing process.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100">
                <mat-card-header>
                    <mat-card-title>In-Depth Analysis</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        It provides the tools for reviewers to thoroughly analyze and revise your essay so that you can
                        perfect your
                        writing.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100" data-aos="fade-left">
                <mat-card-header>
                    <mat-card-title>Accessible </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        We know that you're tied up with fees and costs elsewhere. Critiq will always offer its
                        peer-review service for free.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>
<section class="bg-dark-secondary center">
    <div class="row w-100 m-0 justify-content-center mb-5">
        <div class="col-md-12  center p-5" data-aos="fade-down" data-aos-duration="3000">
            <div class="text-center w-100">
                <h1 style="color: rgb(255, 255, 255);">Our<span class="px-2"
                        style="color: rgb(61, 221, 133);">Services</span> </h1>
                <h4 class="text-myheader">Recognising the need of primary condition for your business <span
                        style="color: rgb(61, 221, 133);">with...</span></h4>
            </div>
        </div>
        <div class="col-md-12 center" data-aos="fade-right" data-aos-duration="3000">

            <div class="box-container">
                <ng-container *ngFor="let box of SERVICES_MORE">
                    <app-button-box [props]="box"></app-button-box>
                </ng-container>   
            </div>
            <!-- <div class="m-auto">
              
                <div class="box-container">
                    <div class="box bg-mygradient-4 ">
                        <span class="mat-icon-md material-icons material-icons-outlined text-white">
                            phone_iphone
                        </span>
                        <small class="strong py-3  text-white">App Development</small>
                        <small class="text-white">Our high-quality services are super affordable to your pockets.
                        </small>
                    </div>
                </div>
            </div> -->
        </div>

       

    </div>
</section>
<app-digit></app-digit>
<!-- feature work section -->
<section class="bg-dark-secondary center " style="position: relative;">
    <div class=" center bg-featured-project img-fluid " data-aos="fade-up" data-aos-duration="1000"
        data-aos-offset="30">
        <h6 style="position: absolute;bottom: 0;right: 
    1rem;"><a href="http://www.amzclutter.com" target="_blank" class=" strong" rel="noopener noreferrer">AMZClutter</a>
        </h6>
    </div>
    <!-- <div class="bucky-ball-container">

        <img class="bucky-ball img-fluid  animate__bounce" data-aos="zoom-in-down " data-aos-duration="1500"
            src="../assets/3dshapes/buckyball.png" width="400">

    </div> -->
    <div class="row text-center" data-aos="fade-right" data-aos-offset="30">
        <div class="col-md-6 align-items-center px-4">
            <div class="d-flex flex-column justify-content-around text-left w-100">
                <h4 class="p-0 strong mb-4">Featured Work</h4>
                <small class="text-white strong">Recognising the need of primary condition for your business </small>
                <div class="py-1 text-white">
                    <button mat-button class="bg-mygradient-3">
                        <small class="strong text-white">Explore more projects</small>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-6 align-items-center mb-30 px-4">
            <div class="d-flex flex-column justify-content-around ">

                <div class="text-left ">
                    <h6 class="p-0 m-0 text-uppercase text-white">Strategy</h6>
                    <small style="line-height: -10px;" class="strong text-white">The dynamic strategy
                    </small>
                </div>
                <div class="d-flex justify-content-around">
                    <button mat-button class="bg-mygradient-4">
                        <span class=" material-icons material-icons-outlined ">
                            layers
                        </span>
                    </button>
                    <button mat-button class="">
                        <span class=" material-icons material-icons-outlined ">
                            cloud_upload
                        </span>
                    </button>
                    <button mat-button class="bg-dark-3">
                        <span class=" material-icons material-icons-outlined ">
                            devices
                        </span>
                    </button>
                    <button mat-button>
                        <span class=" material-icons material-icons-outlined ">
                            settings
                        </span>
                    </button>
                </div>


            </div>
            <div class="text-left ">
                <h1 class="p-0 m-0 text-uppercase " style="font-weight: 900;">80%</h1>
                <small style="line-height: -10px;">The professional from
                </small>
            </div>
        </div>
    </div>
</section>

<!-- new promotions section -->
<section class="bg-dark-secondary center">

    <div class="row text-center w-100" data-aos="fade-right" data-aos-offset="30">
        <div class="col-md-4 center mb-4">
            <div class="d-flex flex-column justify-content-around">
                <div class="d-flex justify-content-around mb-4">
                    <!-- <button mat-button>
                        <div class="d-flex flex-column justify-content-around px-2 py-4 ">
                            <span class="material-icons material-icons-outlined">
                                card_giftcard
                            </span>
                            <small class="strong">Client Gifts</small>
                        </div>
                    </button> -->
                    <ng-container *ngFor="let box of SERVICES.slice(0,2)">
                        <app-button-box [props]="box"></app-button-box>
                    </ng-container>
                   
                    <!-- <button mat-button class="bg-dark-3">
                        <div class="d-flex flex-column justify-content-around px-2 py-4 ">
                            <span class="material-icons material-icons-outlined">
                                mark_chat_read
                            </span>
                            <small class="strong">Consulting</small>
                        </div>
                    </button> -->
                </div>
                <div class="d-flex justify-content-around">
                    <!-- <button mat-button class="bg-mygradient-3">
                        <div class="d-flex flex-column justify-content-around px-2 py-4 ">
                            <span class="material-icons material-icons-outlined">
                                alternate_email
                            </span>
                            <small class="strong text-white">Email Market</small>
                        </div>
                    </button>
                    <button mat-button>
                        <div class="d-flex flex-column justify-content-around px-2 py-4 ">
                            <span class="material-icons material-icons-outlined">
                                auto_awesome_motion
                            </span>
                            <small class="strong">Design Plan</small>
                        </div>
                    </button> -->
                    <ng-container *ngFor="let box of SERVICES.slice(2,4)">
                        <app-button-box [props]="box"></app-button-box>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="col-md-4 center mb-4">
            <div class="center">

                <figure>
                    <img class="img-fluid" src="../assets/images/mobilemockup.png" width="500">
                </figure>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="d-flex flex-column justify-content-around">

                <div class="text-left mb-4">
                    <h4 class="p-0 m-0 strong">New Promotions </h4>
                    <small style="line-height: -10px;">The dynamic strategy
                    </small>
                </div>
                <div style="display: inline;width: auto;" class="py-5">
                    <div class="px-2 py-1 " style="display: inline-block;">
                        <button mat-button class="rounded-pill bg-mygradient-4">
                            <small class="text-white">Typography</small>
                        </button>
                    </div>
                    <div class="px-2 py-1" style="display: inline-block;">
                        <button mat-stroked-button class="rounded-pill">
                            <small>Styles</small>
                        </button>
                    </div>
                    <div class="px-2 py-1" style="display: inline-block;">
                        <button mat-stroked-button class="rounded-pill">
                            <small>Layout</small>
                        </button>
                    </div>
                    <div class="px-2 py-1" style="display: inline-block;">
                        <button mat-button class="rounded-pill bg-mygradient-3 ">
                            <small class="text-white">Portfolio</small>
                        </button>
                    </div>
                    <div class="px-2 py-1" style="display: inline-block;">
                        <button mat-stroked-button class="rounded-pill">
                            <small>Mockup</small>
                        </button>
                    </div>
                    <div class="px-2 py-1" style="display: inline-block;">
                        <button mat-stroked-button class="rounded-pill">
                            <small>Creative</small>
                        </button>
                    </div>
                    <div class="px-2 py-1" style="display: inline-block;">
                        <button mat-stroked-button class="rounded-pill ">
                            <small>Infographic</small>
                        </button>
                    </div>
                </div>


                <div class="text-left py-5 d-flex flex-column">
                    <small mat-line class="p-0 m-0  strong">Initiate your business promotions</small>
                    <div class="py-2">
                        <button mat-button class="bg-mygradient-3">
                            <span class="material-icons material-icons-outlined">
                                mark_chat_read
                            </span>
                            <small class="strong px-2 text-white">Connect</small>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-say-hello></app-say-hello>
<app-footer></app-footer>