<section class="dark-theme ">
    <header>
        <app-nav></app-nav>
    </header>
    <div class="row m-0 " data-aos="@fade">
        <div class="col-md-6 center " style="min-width: 30vh;">
            <div class="text-center " data-aos-easing="ease-out-cubic" data-aos-duration="2000" data-aos="fade-up">
                <h1 class="text-muted">Make Your Dreams Into Reality</h1>
                <p class="px-5">Get Professionally Developed and Designed Application, Website, Logo And Much More From
                    The Leading
                    Development and Design Company.</p>
                <button mat-raised-button color="primary" class="w-25 m-5">Explore</button>
            </div>
        </div>
        <div class="col-md-6 center">

            <div>
                <img src="../assets/3dshapes/Tube_Short_Y3_-_Medium0004.png" height="600">
            </div>

        </div>
    </div>
</section>

<section class="bg-dark-secondary center">
    <div class="row align-items-center">
        <div class="col-md-6 center p-5">
            <div class="text-left w-100">
                <h1 style="color: rgb(255, 255, 255);">Why<span class="px-2"
                        style="color: rgb(61, 221, 133);">company</span> </h1>
                <h4 class="text-myheader">Recognising the need of primary condition for your business <span
                        style="color: rgb(61, 221, 133);">with...</span></h4>
            </div>
        </div>
        <div class="col-md-6 align-items-center p-5">
            <div class="row align-items-center">
                <div class="col-6 center" style="border-right: 1px solid rgb(46, 46, 46);">
                    <div class="box">
                        <span class="mat-icon-md material-icons material-icons-outlined text-myprimary"
                            style="color: #ccc;">
                            paid
                        </span>
                        <h4 style="font-weight: 60;">Affordable</h4>
                        <small style="color: #ccc;">Our high-quality services are super affordable to your pockets.
                        </small>
                    </div>
                </div>
                <div class="col-6 center">
                    <div class="box">
                        <span class="mat-icon-md material-icons material-icons-outlined text-mysuccess"
                            style="color: #ccc;">
                            task_alt
                        </span>
                        <h4 style="font-weight: 60;">Professional</h4>
                        <small style="color: #ccc;">Our full-service management ensures that we drive relevant traffic
                            to your website.</small>
                    </div>
                </div>


            </div>
            <div class="row " style="border-top: 1px solid rgb(46, 46, 46);">
                <div class="col-6 center" style="border-right: 1px solid rgb(46, 46, 46);">
                    <div class="box">
                        <span class="mat-icon-md material-icons material-icons-outlined text-mywarning"
                            style="color: #ccc;">
                            lightbulb
                        </span>
                        <h4 style="font-weight: 60;">Reliable</h4>
                        <small style="color: #ccc;">We manually mount high-quality backlinks and use only white hat
                            techniques.</small>
                    </div>
                </div>
                <div class="col-6 center">
                    <div class="box">
                        <span class="mat-icon-md material-icons material-icons-outlined text-mydanger"
                            style="color: #ccc;">
                            support
                        </span>
                        <h4 style="font-weight: 60;">Live Support</h4>
                        <small style="color: #ccc;">Our high-quality services are super affordable to your pockets.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark-secondary center">
    <div class="row ">
        <div class="col-md-3 ">
            <div class="bg-dark-primary"
                style="min-height: 100vh; display: flex;flex-direction: column;align-items: center;">
                <div class="box">
                    <span class="mat-icon-md material-icons material-icons-outlined text-myprimary"
                        style="color: #ccc;">
                        layers
                    </span>
                    <h4 style="font-weight: 60;">Marketing</h4>
                    <small style="color: #ccc;">Our high-quality services are super affordable to your pockets. </small>
                </div>
                <div class="box">
                    <span class="mat-icon-md material-icons material-icons-outlined text-mywarning"
                        style="color: #ccc;">
                        trending_up
                    </span>
                    <h4 style="font-weight: 60;">Promotions</h4>
                    <small style="color: #ccc;">Our high-quality services are super affordable to your pockets. </small>
                </div>
                <div class="box">
                    <span class="mat-icon-md material-icons material-icons-outlined text-myprimary"
                        style="color: #ccc;">
                        paid
                    </span>
                    <h4 style="font-weight: 60;">Affordable</h4>
                    <small style="color: #ccc;">Our high-quality services are super affordable to your pockets. </small>
                </div>
            </div>
        </div>
        <div class="col-md-6 center p-5">
            <div class="text-left w-100">
                <h1 style="color: rgb(255, 255, 255);">Why<span class="px-2"
                        style="color: rgb(61, 221, 133);">company</span> </h1>
                <h4 class="text-myheader">Recognising the need of primary condition for your business <span
                        style="color: rgb(61, 221, 133);">with...</span></h4>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="bg-dark-primary"
                style="min-height: 100vh; display: flex;flex-direction: column;align-items: center;">
                <div class="box">
                    <span class="mat-icon-md material-icons material-icons-outlined text-myprimary"
                        style="color: #ccc;">
                        paid
                    </span>
                    <h4 style="font-weight: 60;">Affordable</h4>
                    <small style="color: #ccc;">Our high-quality services are super affordable to your pockets. </small>
                </div>
                <div class="box">
                    <span class="mat-icon-md material-icons material-icons-outlined text-myprimary"
                        style="color: #ccc;">
                        paid
                    </span>
                    <h4 style="font-weight: 60;">Affordable</h4>
                    <small style="color: #ccc;">Our high-quality services are super affordable to your pockets. </small>
                </div>
                <div class="box">
                    <span class="mat-icon-md material-icons material-icons-outlined text-myprimary"
                        style="color: #ccc;">
                        paid
                    </span>
                    <h4 style="font-weight: 60;">Affordable</h4>
                    <small style="color: #ccc;">Our high-quality services are super affordable to your pockets. </small>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="center" style="background-color: rgb(255, 255, 255);">
    <div class="row">
        <div class="col-sm-4" style="overflow: hidden;">


            <img src="../assets/3dshapes/Tube_Short_Y3_-_Medium0004.png" height="200">
            <img src="../assets/3dshapes/Tube_Short_Y3_-_Medium0004.png" height="200">
            <img src="../assets/3dshapes/Tube_Short_Y3_-_Medium0004.png" height="200">
            <img src="../assets/3dshapes/Tube_Short_Y3_-_Medium0004.png" height="200">
            <img src="../assets/3dshapes/Tube_Short_Y3_-_Medium0004.png" height="200">

        </div>
        <div class="col-sm-8">
            <div class="center">
                <p class="py-5 pad" style="color: rgb(59, 59, 59); font-size: large;">
                    Zebravo is a team of passionate SEO strategists and web developers. We leverage advance
                    digital marketing skills with
                    the power of programming. As a leading SEO Agency In UK it helps us optimize technical aspects of
                    the
                    website while
                    complying with the fundamentals of SEO. After all, only those websites that add value to people’s
                    lives,
                    get ranked on
                    top. <br>
                    Our professional UK SEO services ensure we rank your website on top of search results. With our
                    cutting
                    edge,
                    data-driven strategies we achieve positive ROI for your business. This is precisely the reason why
                    people simply call
                    us, the best SEO Agency In UK.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row m-0 py-5">
        <div class="col-md-3">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100" data-aos="fade-left">
                <div class="text-center float-left">
                    <h1 style="font-size: 4vh;">Affordable</h1>
                </div>
                <img src="../assets/svg/affordable.svg" alt="partner" width="150" height="150">

                <div class="row">
                    <mat-card-content>
                        <p>
                            You would be surprised how expensive it costs to look this cheap.Get your desired
                            services at most affordable prices.
                        </p>
                    </mat-card-content>
                </div>


            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100" data-aos="fade-left">
                <div>
                    <div class="text-center float-right">
                        <h1 style="font-size: small;">Partner approach</h1>
                    </div>
                    <img src="../assets/svg/partner.svg" alt="partner" width="200" height="200">
                </div>
                <div class="row">
                    <mat-card-content>
                        <p>
                            We are driven by ‘Customer success’ culture
                            and don’t think of ourselves as a service provider
                            but your technology partner.
                        </p>
                    </mat-card-content>
                </div>

            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100" data-aos="fade-right">
                <div>
                    <div class="text-center float-right">
                        <h1 style="font-size: small;">Accelerated Time Value</h1>
                    </div>
                    <img src="../assets/svg/affordable.svg" alt="partner" width="200" height="200">
                </div>
                <div class="row">

                    <mat-card-content>
                        <p>
                            As soon as you visit us with your requirement of integration of new technology, our
                            project
                            team ensures you to deliver the latest features using
                            latest technology as soon as possible so that you do not lack behind your competitors.
                        </p>
                    </mat-card-content>
                </div>

            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100" data-aos="fade-right">
                <div>
                    <div class="text-center float-right">
                        <h1 style="font-size: small;">Customized Products</h1>
                    </div>
                    <img src="../assets/svg/partner.svg" alt="partner" width="200" height="200">
                </div>
                <div class="row">
                    <mat-card-content>
                        <p>
                            We ensure you to have the most appropriate solution as per your need by highly
                            customizing
                            your required design.
                            Our robust design will definitely make your product stand out in a crowd.
                        </p>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>
</section>
<section class="services">
    <div class="center text-center ">
        <div class="center">
            <h1 style="color: rgb(255, 255, 255);">OUR <span style="color: rgb(61, 221, 133);">SERVICES</span> </h1>
        </div>
    </div>
    <div class="row m-4 py-5" data-aos="zoom-in-down">
        <div class="col-sm-4">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100">
                <mat-card-header>
                    <mat-card-title>Quality Reviewers</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Connects your writing to the best set of eyes so you can produce exemplary writing.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100">
                <mat-card-header>
                    <mat-card-title>Modern Editing</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Advanced essay drafting interface is equipped with many features to give you the freedom to
                        format your essay the best
                        way possible.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100">
                <mat-card-header>
                    <mat-card-title>Personalized</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Our matching algorithm prioritizes your input to find the reviewers that will help you the most.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mx-4 py-5" data-aos="zoom-out-up">
        <div class="col-sm-4 ">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100">
                <mat-card-header>
                    <mat-card-title>Streamlined Interface</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Our simple interface provides easy essay retrieval and a smooth editing process.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100">
                <mat-card-header>
                    <mat-card-title>In-Depth Analysis</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        It provides the tools for reviewers to thoroughly analyze and revise your essay so that you can
                        perfect your
                        writing.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="services-card mat-elevation-z8 p-5 w-100 h-100" data-aos="fade-left">
                <mat-card-header>
                    <mat-card-title>Accessible </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        We know that you're tied up with fees and costs elsewhere. Critiq will always offer its
                        peer-review service for free.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>

<section class="dark-theme">
    <div class="row text-center m-4 py-5" data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine">
        <div class="col-sm-4">
            <div class="container">
                <!-- <h1 style="font-size: 10rem;">90<sup style="font-size: 6rem;  color: #ff5e14;">%</sup></h1> -->
                <h1 style="font-size:10rem;" >90<sup style=" color: #ff5e14;">%</sup></h1>
            </div>
            <div class="container py-3">
                <h1 style="font-size: medium;">Client</h1>
            </div>
            <div class="container">
                <p style="font-size: medium;text-align: center;">Professional and Multipurpose administrate from quality schemas.
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container">
                <h1  style="font-size: 10rem;">150<sup style="color: rgb(26, 187, 228);">+</sup></h1>
            </div>
            <div class="container py-3">
                <h1 style="font-size: medium;">New Projects</h1>
            </div>
            <div class="container">
                <p style="font-size: medium;text-align: center;"> Projectswe get from different client source on daily basis.                    
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container">
                <h1  style="font-size: 10rem;">150<sup style="color:  #fffb14">k</sup></h1>
            </div>
            <div class="container py-3">
                <h1 style="font-size: medium;">Social Followers</h1>
            </div>
            <div class="container">
                <p style="font-size: medium;text-align: center;">Clients and many other learners which are quite impressed by our work
                    and follow us 
                </p>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>