section{
    min-height: 100%;
}
.pad{
    margin: 5rem;
}
.hexagon{
    position: relative;
    height: 110px;
    width: 100px;
    background: #111;
    margin: 1px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: 2s;
}
.hexagon:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.02);
}
.hexagon:hover{
    transition: 0s;
    background: #0f0;
cursor: alias;
}
.color-change{
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}




.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: #242830;
    background: #0955ee;
    background: linear-gradient(80deg, rgba(36, 40, 48, 0.5) 0%, rgba(36, 40, 48, 0) 100%);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);

}
.footer{
    background: #242830!important;
}
// section .footer::before{
//     content: '';
//     position: absolute;
//     bottom: 0;
//     right: 30%;

//     width: 50%;
//     height: 700px;
//     background: #242830!important;
//     background: linear-gradient(80deg, rgba(36, 40, 48, 0.5) 0%, rgba(36, 40, 48, 0) 100%);
//     -webkit-transform-origin: 0;
//     transform-origin: 0;
//     -webkit-transform: skewY(-12deg);
//     transform: skewY(-12deg);

// }

.services-card{
    background: linear-gradient(80deg, rgba(36, 40, 48, 0.5) 0%, rgba(36, 40, 48, 0) 100%);
}
.card-svg-1{

}
.text-3d{
font-size: 5rem;
font-weight: 900;
}